{% extends 'base.html' %}

{%block styles%}
{{ super() }}
<link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}">
{% endblock %}

{% block content %}

<div class="container-fluid">
    <aside class="border border-dark">
        <h1>Side Nav</h1>
        <nav>
            <p class="ml-5">Beautiful, high-res <br> photos of black and <br>brown people. For free</p>
            <ul>
                <li><a href="#">About</a></li>
                <li><a href="#">Find</a></li>
                <li><a href="#">Contacts</a></li>
                <li id="products">Products</li>
                <li><a href="#">Carpets & Flooring</a></li>
                <li><a href="wallpapers.html">Wallpapers & Paints</a></li>
                <li><a href="#">Fabrics & Trimmings</a></li>
                <li><a href="#">Upholstery & Furniture</a></li>
                <li><a href="#">Curtains & Blinds</a></li>
            </ul>
        </nav>
        
        <div class="vertical-line"></div>
        
    </aside>
    <!-- <div class="muthed">
        <div class="display mt-3">
            <a class="btn btn-outline-primary" href="{{url_for('main.people')}}" role="button">People</a>
            <a class="btn btn-outline-secondary" href="{{url_for('main.place')}}" role="button">Place</a>
            <a class="btn btn-outline-success" href="{{url_for('main.work')}}" role="button">Work</a>
            <a class="btn btn-outline-dark" href="{{url_for('main.food')}}" role="button">Food</a>
            <a class="btn btn-outline-info" href="{{url_for('main.active')}}" role="button">Active</a>
        </div> -->
        
        <div class="dmark">
            <!-- <p class="font-weight-bold">Beautiful, high-res photos of black and brown people. For free.</p> -->
            <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img class="d-block img-fluid" src="{{url_for('static', filename='img/img1.jpg')}}" alt="First slide" style="height:auto; width:100%;">
                            </div>
                            <div class="carousel-item">
                            <img class="d-block img-fluid" src="{{url_for('static', filename='img/img2.jpg')}}" alt="Second slide" style="height:auto; width:100%;">
                            </div>
                            <div class="carousel-item">
                            <img class="d-block img-fluid " src="{{url_for('static', filename='img/nappy')}}"  alt="Third slide" style="height:auto; width:100%;">
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <br>
                <br>
                <br>
            
            
      
      
      
      
       
      
        

    </div>
    
{% endblock %}


