<nav class="navbar navbar-dark bg-dark navbar-expand-lg" style="background-color: #000000; position:fixed; width: 100%; height: 15%; top: 0; z-index:1; padding-bottom: 20px;">
    <a class="navbar-brand" href="#">SARABI</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Categories
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="{{url_for('main.people')}}">People</a>
            <a class="dropdown-item" href="{{url_for('main.place')}}">Place</a>
            <a class="dropdown-item" href="{{url_for('main.place')}}">Work</a>
            <a class="dropdown-item" href="{{url_for('main.place')}}">Food</a>
            <a class="dropdown-item" href="{{url_for('main.active')}}">Active</a>
          </div>
        </li>
        
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <a href="{{url_for('main.new_photo')}}" class="btn btn-outline-light mx-2 float-right">Submit a photo</a>
      </form>
    </div>
  </nav>