{% extends 'base.html'%}
{% import "bootstrap/wtf.html" as wtf %}
{% block content %}
    <div class="container">
        <div class="col-md-12">
            <h3>Submit your photo</h3>
            <p>Help us tackle diversity and representation by submitting your photos of black and brown people to the People of Color community. 
                We’ll let you know when your photo is featured.</p>

                
                <form class="form-group" method="post" enctype="multipart/form-data">
                    {{submit_form.hidden_tag()}}
                    <div class="upload-field">
                        <p>Upload your photo</p>
                        <div class="border border-secondary rounded my-2 py-1 pl-2">
                            <input type="file" name="photo" class="form-control-file my-2" required>
                        </div>
                    </div>
                    <div class="describe-photo ">
                        {{submit_form.description.label}}
                        {{submit_form.description(class = "form-control",style="margin-bottom: 10px;")}}
                    </div>
                    <div class="submit_category">
                        <p>Describe the photo.<small class="text-muted">This'll help people find it later.</small> *</p>
                        {{submit_form.category}}
                    </div>
                    {{submit_form.submit(class = "btn btn-outline-info")}}
                </form>

        </div>
    </div>
{% endblock %}